
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  overflow-x: hidden;
  height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.coursePage,
.AboutUsPage,
.ContactUsPage,
.sign-in-page,
.third-section,
.sign-up-page,
.first-section,
.second-section {
  min-height: 100vh; /* Allow sections to stretch beyond viewport */
  max-width: 100vw; /* Constrain width to viewport */
  position: relative;
  overflow: hidden; /* Prevent overflow */
  display: flex;
  flex-direction: column; /* Flex layout to organize content */


}

/* ----------------------------------------------FIRST HOME PAGE SECTION PAGE---------------------------------------------- */
.first-section {
  display: flex;
  flex-direction: column;
  background-color: #c9c9c9;
  background-image: url("site_icons/Noise Light 220.png");
  overflow-x: hidden; /* Ensure no horizontal scrolling */
  
}

.background-icon1 {
  display: block;
  position: absolute;
  left: 0; /* Position the image to the right */
  top: 0; /* If you also want it aligned to the top */
  z-index: (-1);
  width: auto; 
  height: 100%; /* Adjust based on your needs */
}



.header-list{
  display: flex;
  flex-direction: row;

  padding: 10px 20px;
  z-index: 1;
  width: 100%;

}

.header1-img{
  width: 40px;
  height: 40px;
  cursor: pointer;
}


.mid-header{
  display: flex;
  list-style: none;
  font-family: 'Roboto Mono';
  color: rgb(60, 60, 60);
  

}

.mid-header li {
  padding: 10px 20px;
  color: black;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: box-shadow 0.4s ease, background-color 0.4s ease; /* Smooth transition */
}

.mid-header li:hover {
  background-color: rgba(117, 117, 117, 0.1); /* Optional: Darken the background color slightly on hover */
  border-radius: 10px;
}

.mid-header li:active {
  transform: scale(0.97); /* Make the button slightly smaller when clicked */
}

.left-hdr{
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;

}
/* HEADER 2 ADDITIONS*/
.mid-header2{
  display: flex;
  list-style: none;
  font-family: 'Roboto Mono';

}

.mid-header2 li {
  padding: 10px 20px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: box-shadow 0.4s ease, background-color 0.4s ease; /* Smooth transition */
}

.mid-header2 li:hover {
  background-color: rgba(0, 0, 0, 0.105);/*ptional: Darken the background color slightly on hover */
  border-radius: 10px;
}

.mid-header2 li:active {
  transform: scale(0.97); /* Make the button slightly smaller when clicked */
}


/*
.middle-hdr{
}
*/
.right-hdr{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}




.join-btn{

  font-family: Inter, sans-serif;
  font-weight: lighter;
  background-color: #2A3C95;
  font-size: 14px;
  font-weight: bolder;
  color: white;
  border: none;
  width: 157px;
  height: 42px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transition for scale and shadow */
  
}

.join-btn:hover{
  transform: scale(1.02); /* Slightly increase the size of the button */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Enhance the shadow on hover */
}

.join-btn:active {
  transform: scale(0.97); /* Make the button slightly smaller when clicked */
  box-shadow: none; /* Remove the shadow when the button is clicked */
}






.main-txt{
  font-size: 76px;
  color: #15137b;
  font-family: Inter, sans-serif;
 font-weight: 900;
 text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

}

.explore-txt,
.wdwd-txt{
  font-family: "roboto mono";
  color: #0b4545;
  font-weight: 400;
  font-style: normal;
}
.wdwd-txt{
  margin-top: 20px;
}

.btn-main{
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

.btn1{
  font-family: Inter, sans-serif;
   background-color: #776cff;
   font-size: 14px;
   font-weight: bolder;
   color: white;
   border: none;
   height: 42px;
   padding: 0 35px;
   border-radius: 10px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   margin-left: 10px;
   margin-right: 10px;
   cursor: pointer;
   transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transition for scale and shadow */

}

.btn1:hover{
  transform: scale(1.02); /* Slightly increase the size of the button */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Enhance the shadow on hover */
}

.btn1:active {
  transform: scale(0.97); /* Make the button slightly smaller when clicked */
  box-shadow: none; /* Remove the shadow when the button is clicked */
}


.btn2{
  font-family: Inter, sans-serif;
   background-color: #ff801d;
   font-size: 14px;
   font-weight: bolder;
   color: white;
   border: none;
   height: 42px;
   padding: 0 15px;
   border-radius: 10px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   cursor: pointer;
   transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transition for scale and shadow */
}

.btn2:hover{
  transform: scale(1.02); /* Slightly increase the size of the button */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Enhance the shadow on hover */
}

.btn2:active {
  transform: scale(0.97); /* Make the button slightly smaller when clicked */
  box-shadow: none; /* Remove the shadow when the button is clicked */
}



.main-content{
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  flex: 1;

z-index: 1;
}

.left-mc{
  flex: 1;
}

.middle-mc{
  display: flex;
  flex-direction: column;

}

.right-mc{
  flex: 1;
}


#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  height: 16vh; /* Use viewport height for responsiveness */
  overflow: hidden; /* Prevent images from overflowing */

}

.footer-images {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  position: relative;
}

.footer-image {
  position: absolute;
  height: 100%;
  width: auto;
  object-fit: contain;
  /*border-bottom: 2px solid #c3c3c3;*/
  transition: transform 0.2s ease; /* Smooth transition for scale and shadow */
  
}


.footer-image:nth-child(1) { left: 0%; z-index: 1; }
.footer-image:nth-child(2) { left: 7%; z-index: 2; }
.footer-image:nth-child(3) { left: 14%; z-index: 3; }
.footer-image:nth-child(4) { left: 21%; z-index: 1; }
.footer-image:nth-child(5) { left: 28%; z-index: 2; }
.footer-image:nth-child(6) { left: 35%; z-index: 3; }
.footer-image:nth-child(7) { left: 42%; z-index: 1; }
.footer-image:nth-child(8) { left: 49%; z-index: 8; }
.footer-image:nth-child(9) { left: 56%; z-index: 9; }
.footer-image:nth-child(10) { left: 63%; z-index: 2; }
.footer-image:nth-child(11) { left: 70%; z-index: 1; }
.footer-image:nth-child(12) { left: 77%; z-index: 1; }
.footer-image:nth-child(13) { left: 84%; z-index: 1; }
.footer-image:nth-child(14) { left: 91%; z-index: 1; }


.footer-image:nth-child(1):hover, 
.footer-image:nth-child(2):hover, 
.footer-image:nth-child(3):hover, 
.footer-image:nth-child(4):hover, 
.footer-image:nth-child(5):hover, 
.footer-image:nth-child(6):hover, 
.footer-image:nth-child(7):hover, 
.footer-image:nth-child(8):hover, 
.footer-image:nth-child(9):hover,
.footer-image:nth-child(10):hover,
.footer-image:nth-child(11):hover,
.footer-image:nth-child(12):hover, 
.footer-image:nth-child(13):hover,
.footer-image:nth-child(14):hover{
 transform: scale(1.03);
}

@media (max-width: 860px) {


  .main-txt,.main-txt3{
    font-size: 50px;
    
  
  }

  .mid-header li {
    font-size: 12px;
  }
  .join-btn{
    width: 120px;
    height: 22px;
    font-size: 12px;
  }

  
  .explore-txt,
  .wdwd-txt{
    font-family: "roboto mono";
    color: #0b4545;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
  }

  
}



@media (max-width: 679px){

  .main-txt,.main-txt3{
    font-size: 40px;
    
  
  }

  .mid-header li {
    font-size: 9px;
  }
  .join-btn{
    width: 120px;
    height: 22px;
    font-size: 12px;
  }

  
  .explore-txt,
  .wdwd-txt{

    font-size: 12px;
  }

}



@media (max-width: 575px){
  .main-txt,
  .main-txt3 {
    font-size: 10px;
  }

  .mid-header li {
    font-size: 2px; /* Fixed typo */
  }

  .join-btn {
    width: 120px;
    height: 22px;
    font-size: 10px;
  }

  .explore-txt,
  .wdwd-txt {
    font-size: 2px;
  }

}


/* ----------------------------------------------SECOND HOME PAGE SECTION PAGE---------------------------------------------- */
.second-section {
  /* Add styles for your second section */
  background-color: #c9c9c9;
  background-image: url("site_icons/Noise Light 220.png");
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: 100%;       
  overflow: hidden; 
  
}

.bg2line{
  position: absolute;
  display: block;
  left: 0; /* Position the image to the right */
  top: 0; /* If you also want it aligned to the top */
  z-index: 0;
  width: 100%; 
  height: auto; /* Adjust based on your needs */
  

}

.top-hlf{
  display: flex;
  flex: 0 1 auto;
  padding: 20px;
  z-index: 1;
  
}
.main-txt2{
  margin-top: 10px;
  margin-left: 60px;
  font-size: 75px;
  color: #117884;
  font-family: Inter, sans-serif;
 font-weight: 900;
 text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
 animation: fade-up 0.2s;
}
.main-sect2{
  margin-top: 60px;
  display: flex;
  flex-direction: row;
}

.text-inf{
  display: flex;
  flex-direction: column;
  flex: 1;
}
.right-main2,
.left-main2{
  flex: 0.25;
}

.inf-text{
  font-family: 'Roboto Mono';
  color: #c9c9c9;
  z-index: 1;
  font-weight: 500;

}




.sect4,
.sect3,
.sect2,
.sect1{
  display: flex;
  flex: 1;
  z-index: 1;
  flex-direction: row;
  margin-bottom: 10px;

  
}

.sect1,.sect3{
  justify-content: end;
}



.iconmain2{

  justify-content: center;
  position: relative;
  align-items: center;
  display: flex;
  flex: 0.5;
}

.sect1 .icon-container, .sect3 .icon-container {
  order: 2;
  
}
.sect1 .section-content, .sect3 .section-content {
  order: 1;
}

.section-icon {
  width: 66px;  /* Adjust size as needed */
  height: 66px;
}

.section-content {
  flex: 1;
  background-color: #374d55c7;
  background-image: url("site_icons/Noise Light 220.png");
  border-radius: 20px;
  padding: 10px;


  
  
}


.right-hp2 {
  /* parent div of gears */
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;

}

.gears-container {
  width: 350px; /* Width from leftmost to rightmost gear */
  height: 350px; /* Height from topmost to bottommost gear */
}

.gear1, .gear2, .gear3 {
  position: relative;

}

.gear1 {
  left: 0px;
  top: 0px;
}

.gear2 {
  right: 20px;
  top: 85px;
}

.gear3 {
  bottom: 0px;
  left: 0px;
}
/* ----------------------------------------------THIRD HOME PAGE SECTION PAGE---------------------------------------------- */

.third-section{
  display: flex;
  flex-direction: column;
  background-color: #c9c9c9;
  background-image: url("site_icons/Noise Light 220.png");
  overflow: hidden; 
  max-width: 100%;  


}

.bg3{
  position: absolute;
  left: 0; /* Position the image to the right */
  bottom: 0; /* If you also want it aligned to the top */
  z-index: -1;
  width: 100%; 
  height: auto;
  object-fit: cover;
  
}

.header3-top-section{

  display: flex;
  flex: 1;
  z-index: 1;
  flex-direction: row;
}
.header3-top-right-section{
  display: flex;
  flex: 0.5;
  position: relative;
  justify-content: center;
  align-items: center;

}

.header3-top-left-section{
  display: flex;
  flex: 1;
  
}

.btn-vc{
  font-family: Inter, sans-serif;
  background-color: rgb(10, 9, 32);
  font-size: 14px;
  font-weight: bolder;
  color: white;
  border: none;
  padding: 35px;
  border-radius: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transition for scale and shadow */
  align-content: center;
  
  
}
.btn-vc:hover{
  transform: scale(1.05); /* Slightly increase the size of the button */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Enhance the shadow on hover */
}

.btn-vc:active {
  transform: scale(0.95); /* Make the button slightly smaller when clicked */
  box-shadow: none; /* Remove the shadow when the button is clicked */
}



.main-txt3{
      margin-left: 70px;
      margin-top: 50px;
      font-size: 60px;
      color: rgb(71, 38, 235);
      font-family: Inter, sans-serif;
      font-weight: 900;
      text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      animation: fade-up 0.2s;
}

.center-text{
  font-family: 'Roboto Mono';
  margin-top: 30px;
  margin-left: 90px;
  font-weight: 900;
}
.header3-main-section{
  display: flex;
  flex: 1;
  z-index: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure full viewport height */


}




.right-main3{
  display: flex;
  flex: 1;
  flex-direction: column;
}

.left-main3{
  display: flex;
  flex: 1;
}

.rm-top{
  display: flex;
  

}

.rm-bottom{
  position: relative;
  display: flex;
  justify-content: center; /* Horizontally centers the content */
  align-items: center;
  height: 150px;

  
}
.btn3{

  font-family: Inter, sans-serif;
  font-weight: lighter;
  background-color: #000000;
  font-size: 14px;
  font-weight: bolder;
  color: rgb(255, 195, 139);
  border: none;
  width: 157px;
  height: 42px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transition for scale and shadow */
}

.btn3:hover{
  transform: scale(1.02); /* Slightly increase the size of the button */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Enhance the shadow on hover */
}

.btn3:active {
  transform: scale(0.97); /* Make the button slightly smaller when clicked */
  box-shadow: none; /* Remove the shadow when the button is clicked */
}


.footer-3 {
  display: flex;
  flex-direction: column;
  z-index: 1;
  row-gap: 8px;
  overflow: hidden;

}

.scroll-container {
  display: flex;
  width: 200%; /* Double the width to accommodate the cloned content */
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.top-footer3,
.bottom-footer3 {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  width: 200%; /* Double the width to accommodate the cloned content */
}

.top-footer3 {
  animation: scrollLeft 40s linear infinite;
}

.bottom-footer3 {
  animation: scrollRight 40s linear infinite;
}

.itemfoot {
  background: white;
  align-content: center;
  padding: 32px;
  font-size: 16px;
  height: 88px;
  white-space: nowrap;
  box-sizing: border-box;
  border-radius: 32px;
  font-family: Inter, sans-serif;
  font-weight: 800;
}


 .itemfoot.item1f{
  color: #543EDB;
  background-color: #7BE0CB;
  
}
.itemfoot.item2f{
  color: #E05256;
  background-color: #FFB650;

}
.itemfoot.item3f{
  color: #194F47;
  background-color: #E05256;

  
}
.itemfoot.item4f{
  color: #df870b;
  background-color: #C8E07B;
  
}
.itemfoot.item5f{
  color: #543EDB;
  background-color: #7BE0CB;
  
}
.itemfoot.item6f{
  color: #E05256;
  background-color: #FFB650;
  
}
.itemfoot.item7f{
  color: #543EDB;
  background-color: #7BE08A;
  
}
.itemfoot.item8f{
  color: #FFB650;
  background-color: #736EF7;
  
}

.itemfoot.item9f{
  color: #194F47;
  background-color: #E05256;
  
}

.bottom-llc{

  display: flex;
  flex: 0.5;
  z-index: 1;
  background:linear-gradient(180deg, #cacaca 0%, #c7feff 100%)

  
  /* background-image: url("site_icons/Noise Light 220.png"); */

}

.left-foot-1{
  color: white;
  text-decoration: none;


}

.right-foot{
  display: flex;
  flex: 1;
  position: relative;
  justify-content: center;


  
}

.left-foot{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center; 
}
.mid-foot{

  display: flex;
  flex: 1;
  position: relative;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Mono';
 

}

.mid-foot p{
  color: rgb(0, 0, 0);
}


.left-foot li {
  list-style: none;
  font-family: 'Roboto Mono';
  padding: 7px;
  color: rgb(108, 102, 102);
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
  transition: box-shadow 0.4s ease, background-color 0.4s ease; /* Smooth transition */
}
.left-foot li:hover {
  text-decoration: underline; 
}

.right-foot{  
  font-family: 'Roboto Mono';
  font-size: 13px;
  align-items: center;
  color: rgb(108, 102, 102);
}

.background-icon2{
  display: block;
  position: absolute; /* Position the image to the right */ /* If you also want it aligned to the top */
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: auto; 
  height: 100%; /* Adjust based on your needs */
}

/* ---------------------------------------------- SIGN UP PAGE SECTION----------------------------------------------- */

.sign-up-page {
  display: flex;
  flex-direction: column;
  background-color: #aeadad;
  background-image: url("site_icons/Noise Light 220.png");
  
}

.sign-up-header{
  display: flex;
  flex-direction: row;
}

.left-sign-up-header{
flex: 1;
flex-direction: column;
z-index: 1;
}

.top-left-sign-up-header{
  flex: 1;
}

.sign-up-to-homepage-icon{
  width: 20px;
  height: auto;
  margin-top: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.sign-up-to-homepage-icon:hover{
  transform: scale(1.02);

}

.sign-up-to-homepage-icon:active {
  transform: scale(0.97); /* Make the button slightly smaller when clicked */
}

.bottom-left-sign-up-header{
  flex: 1;
  text-align: center;
}
.right-sign-up-header{
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center; /* Horizontally centers the content */
  align-items: center;
}

.sign-up-page-icon{
  z-index: 0;
  display: block;
}

.sign-up-header-text{
  font-size: 80px;
  color: #473755;
  font-family: Inter, sans-serif;
 font-weight: 900;
 text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
 z-index: 1;
}

.main-sign-up-form{
  display: flex;
  flex-direction: row;
  z-index: 1;

}

.left-main-sign-up-form{
  flex: 1;

}

.mid-main-sign-up-form{
  display: flex;
  flex-direction: row;
  align-items: center;

}

.sign-in-link-sip{

  font-family: roboto mono;
  margin-top: 1rem;
  text-align: center;
  margin-top: 2rem;

}


.input-field-7,
.input-field-6,
.input-field-5,
.input-field-4,
.input-field-3,
.input-field-2,
.input-field-1{
  width: 380px;
  height: 100px;
  position: relative;
  margin-bottom: 20px;

 

  
}

.input-field-x button{
  align-items: center;
  position: absolute;
  bottom: 0;

}

.input-field-x{
  position: relative;
  display: flex;
  justify-content: center; /* Horizontally centers the content */
  align-items: center;
  width: 380px;
  height: 100px;
  margin-bottom: 20px;
}


.input-field-7 input,
.input-field-6 input,
.input-field-5 input,
.input-field-4 input,
.input-field-3 input,
.input-field-2 input,
.input-field-1 input {
  position: absolute;
  bottom: 0;
  width: 100%;
  border: none;
  border-bottom: 1.5px solid #78608f; /* Adjust color as needed */
  background-color: transparent;
  outline: none;
  padding: 5px 0;
  font-size: 20px; /* Adjust as needed */
  font-family: 'Roboto Mono';
  
 

}


.left-mid-main-sign-up-form{
  flex-direction: column;
  margin-right: 50px;
}

.right-mid-main-sign-up-form{
  flex-direction: column;
  margin-left: 50px;
}

.right-main-sign-up-form{
  flex: 1;
}


.register-btn-sp{
  font-family: Inter, sans-serif;
  font-weight: lighter;
  background-color: #473755;
  font-size: 14px;
  font-weight: bolder;
  color: white;
  border: none;
  width: 157px;
  height: 42px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transition for scale and shadow */
  
}

.register-btn-sp:hover{
  transform: scale(1.02); /* Slightly increase the size of the button */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Enhance the shadow on hover */
}

.register-btn-sp:active {
  transform: scale(0.97); /* Make the button slightly smaller when clicked */
  box-shadow: none; /* Remove the shadow when the button is clicked */
}

.text-img{
  position: absolute;
  right: 0;
  z-index: 1;
  bottom: 1.4px;
  padding-left: 4px;
  padding-bottom: 8px;
  background-color: #aeadad;
  background-image: url("site_icons/Noise Light 220.png");
}

.TopPlaceHolder{
  color: #7D7D81;
  font-family: 'Roboto Mono';
  font-weight: 900;
  position: absolute;
  top: 20px;

}



/* ----------------------------------------------SIGN IN PAGE SECTION PAGE---------------------------------------------- */
.sign-in-page{
  display: flex;
  flex-direction: column;
  background-color: #aeadad;
  background-image: url("site_icons/Noise Light 220.png");
}

.sign-in-header{
  display: flex;
  flex-direction: row;
  z-index: 1;
}

.left-sign-in-header{

  flex: 1;
  flex-direction: column;
  justify-content: center; /* Horizontally centers the content */
  align-items: center;
  display: flex;
}

.right-sign-in-header{
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center; /* Horizontally centers the content */
  align-items: center;
}

.sign-in-header-text{
  font-size: 80px;
  color: #374d55;
  font-family: Inter, sans-serif;
  font-weight: 900;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.sign-in-to-homepage-icon{
  width: 20px;
  height: auto;
  margin-top: 5px;
  margin-left: 5px;
  cursor: pointer;
}
.sign-in-to-homepage-icon:hover{
  transform: scale(1.02);

}

.sign-in-to-homepage-icon:active {
  transform: scale(0.97); /* Make the button slightly smaller when clicked */
}

.top-left-sign-in-header{
    flex: 1;
  }

  .bottom-left-sign-in-header{
    flex: 1;
    text-align: left;
    margin-left: 10%;
  }
.mid-main-sign-in-field{
  margin-top: 5%;
}

  .main-sign-in-fields{
    display: flex;
    flex-direction: row;
    z-index: 1;
  }

  .left-sign-in-blank{

    flex:1
  }
  .right-sign-in-blank{

    flex:1
  }

  .input-field-1s{
    width: 380px;
    height: 100px;
    position: relative;
    margin-bottom: 20px;
  }
  
  .input-field-2s{
    width: 380px;
    height: 100px;
    position: relative;
    margin-bottom: 20px;
  }
  
  .input-field-1s input,
  .input-field-2s input{
    position: absolute;
    bottom: 0;
    width: 100%;
    border: none;
    border-bottom: 1.5px solid #374d55; /* Adjust color as needed */
    background-color: transparent;
    outline: none;
    padding: 5px 0;
    font-size: 20px; /* Adjust as needed */
    font-family: 'Roboto Mono';
  }

  .sign-in-button{
    margin-top: 10%;
    font-family: Inter, sans-serif;
    font-weight: lighter;
    background-color: #374d55;
    font-size: 14px;
    font-weight: bolder;
    color: white;
    border: none;
    width: 157px;
    height: 42px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transition for scale and shadow */

  }

  .sign-in-button:hover{
    transform: scale(1.02); /* Slightly increase the size of the button */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Enhance the shadow on hover */
  }
  
  .sign-in-button:active {
    transform: scale(0.97); /* Make the button slightly smaller when clicked */
    box-shadow: none; /* Remove the shadow when the button is clicked */
  }
  
  .sign-in-page-icon{
    z-index: 0;
    display: block;
  }
  .contact-us-icon{
    width: calc(248.91px - 100px);
    height: calc(234.49px - 100px);

  }
  .footer3-img{
    width: 88px;
    height: 88px;
  }
.reg-link-sip{
  font-family: roboto mono;
  margin-top: 20px;

}
/* ----------------------------------------------CONTACT US PAGE SECTION PAGE---------------------------------------------- */
.ContactUsPage{
  display: flex;
  flex-direction: column;
  background-color: #aeadad;
  background-image: url("site_icons/Noise Light 220.png");
}

.contact-us-header{
  display: flex;
  flex-direction: row;
  z-index: 1;
  margin-bottom: 70px;
}

.left-contact-us-header{
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  
  
}

.right-contact-us-header{
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center; /* Horizontally centers the content */
  align-items: center;
}

.contact-us-header-text{
  font-size: 80px;
  color: #473755;
  font-family: Inter, sans-serif;
  font-weight: 900;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.top-left-contact-us-header{

}

.contact-us-to-homepage-icon{
  width: 20px;
  height: auto;
  margin-top: 5px;
  margin-left: 5px;
  cursor: pointer;
}
.contact-us-to-homepage-icon:hover{
  transform: scale(1.02);

}

.contact-us-to-homepage-icon:active {
  transform: scale(0.97); /* Make the button slightly smaller when clicked */
}

.top-left-contact-us-header{
    flex: 1;
  }

.bottom-left-contact-us-header{
    flex: 1;
    text-align: left;
    margin-left: 10%;
}

.contact-us-main-section{
  display: flex;
  flex-direction: row;
}

.left-contact-us-main-section{
  display: flex;
  flex: 1;

}
.right-contact-us-main-section{
  display: flex;
  flex: 1;
}

.mid-contact-us-main-section{
  display: flex;
  flex: 1;
  flex-direction: row;
}
.left-mid-contact-us{
  flex: 1;
  flex-direction: column;
  margin-right: 50px;
}
.right-mid-contact-us{
  flex: 1;
  flex-direction: column;
  margin-left: 50px;

}



.input-field-3cu,
.input-field-2cu,
.input-field-1cu{
  width: 380px;
  height: 100px;
  position: relative;
  margin-bottom: 20px;  
}

.input-field-4cu{
  width: 380px;
  height: 200px;
  position: absolute;
  margin-bottom: 20px;  
  font-size: 20px;
}

.input-field-4cu .txt-box {
  width: 100%;
  height: 120px;
  min-height: 120px;
  max-height: 180px;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 10px 10px 10px;
  font-size: 20px;
  resize: vertical;
  box-sizing: border-box;
}

.input-field-4cu2,
.input-field-1cu2,
.input-field-2cu2,
.input-field-3cu2{
  width: 380px;
  height: 172px;
  flex: 1;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
  display: flex;
  align-content: center;
}



.input-field-3cu input ,
.input-field-2cu input ,
.input-field-1cu input {
  position: absolute;
  bottom: 0;
  width: 100%;
  border: none;
  border-bottom: 1.5px solid #473755; 
  background-color: transparent;
  outline: none;
  padding: 6px 0;
  font-size: 20px; 
  font-family: 'Roboto Mono';
}
.input-field-4cu .txt-box {
  position: absolute;
  bottom: 0;
  height: 55px;
  min-width: 250px;
  max-width: 380px;
  font-size: 10px; 
  font-family: 'Roboto Mono';
  resize: both; /* User can resize both width and height */
  overflow: auto; /* Adds a scrollbar if needed */
  min-height: 120px;
  max-height: 140px;


}

.input-field-4cu .resize-icon {
  position: absolute;
  right: 5px;
  bottom: 5px;
  pointer-events: none;
  opacity: 0.5;
}

.input-field-4cu:hover .resize-icon {
  opacity: 1;
}


.mid-hdrcu{
  font-family: 'roboto mono';
  font-size: 30px;
  font-weight: 300;
  color: #473755;
  justify-content: center;
  position: relative;
  display: flex;

}

.cdtext{
  font-family: "roboto mono";
  color: black;
  text-align: center;
  font-size: 15px;
}

.text-img1{
  width: 60px;
  height: 60px;
  padding-bottom: 10px;
}



/* ----------------------------------------------ABOUT US PAGE SECTION PAGE---------------------------------------------- */
.AboutUsPage{
  display: flex;
  flex-direction: column;
  background-color: #aeadad;
  background-image: url("site_icons/Noise Light 220.png");
}

.about-us-header{
  display: flex;
  flex-direction: row;
  z-index: 1;
  margin-bottom: 70px;
  margin-top: 10px;
  justify-content: center;
}


.about-us-header-text{
  font-size: 80px;
  color: #163760;
  font-family: Inter, sans-serif;
  font-weight: 900;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.top-left-about-us-header{

}

.about-us-to-homepage-icon{
  width: 20px;
  height: auto;
  margin-top: 5px;
  margin-left: 5px;
  cursor: pointer;
}
.about-us-to-homepage-icon:hover{
  transform: scale(1.02);

}

.about-us-to-homepage-icon:active {
  transform: scale(0.97); /* Make the button slightly smaller when clicked */
}

.top-left-about-us-header{
    flex: 1;
  }

.bottom-left-about-us-header{
    flex: 1;
    text-align: left;
    margin-left: 10%;
}

.about-us-main-section{
  display: flex;
  flex-direction: row;
}

.about-us-left-main-section{

  flex: 0.5;
}
.about-us-mid-main-section{
  background-image: url("site_icons/Noise Light 220.png");
  display: flex;
  background-color: #667A92; /* Light grey background */
  border-radius: 70px; /* Rounded corners */
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  justify-content: center;
  align-items: center;
  width: 800px;
  margin: 0 auto; /* Center the div horizontally */
    

}

.about-us-right-main-section{

  flex: 0.5;
}

.about-us-text{
  font-family: 'Roboto Mono';
  color: #CDCDCD;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  text-wrap: balance;
  overflow: scroll;
  line-height: 1.6;
  word-wrap: break-word;
}



.headerab-img{
  width: 80px;
  height: 80px;
}
@media (max-width: 800px) {
  .about-us-header-text {
    /* Add your styles here */
  }

  .about-us-mid-main-section {
   width:600px
  }

  .about-us-text {
    font-size: 19.2px; /* Example: Reduce font size by a percentage manually */
  }

}

@media (max-width: 600px) {
  .about-us-header-text {
    /* Add your styles here */
    font-size: 60px;
  }

  .about-us-mid-main-section {
   width:500px
  }

  .about-us-text {
    font-size: 15.2px; /* Example: Reduce font size by a percentage manually */
  }
  .mid-header2 li {
    font-size: 12px;

  }
  

}

@media (max-width: 500px) {
  .about-us-header-text {
    font-size: 50px;
  }

  .about-us-mid-main-section {
   width:300px;
   height: 250px
  }

  .about-us-text {
    font-size: 10.2px; /* Example: Reduce font size by a percentage manually */
  }
  .mid-header2 li {
    font-size: 7px;

  }
  

}


/* ----------------------------------------------COURSE PAGE SECTION PAGE---------------------------------------------- */

.coursePage{
  background-color: #8F8E8E;
  background-image: url("site_icons/Noise Light 220.png");
  display: flex;
  flex-direction: column;
}
.course-header{
  display: flex;
  flex-direction: row;
}
.left-course-header{
  flex: 0.5;
}
.mid-course-header{
  display: flex;
  flex: 1;
  justify-content: center;
}
.right-course-header{flex: 0.5;}
.main-course-txt{
  font-size: 80px;
  color: #DCEEFF;
  font-family: Inter, sans-serif;
  font-weight: 900;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;

}
.hdr-course-txt2{
  font-size: 50px;
  color: #DCEEFF;
  font-family: Inter, sans-serif;
  font-weight: 900;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;

}


.btn-course-view{
  margin-top: 40px;
  font-family: roboto mono, sans-serif;
  font-weight: lighter;
  background-color: #2A3C95;
  font-size: 14px;
  font-weight: bolder;
  color: white;
  border: none;
  width: 309px;
  height: 47px;
  border-radius: 90px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transition for scale and shadow */

}

.btn-course-view:hover{
  transform: scale(1.02); /* Slightly increase the size of the button */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Enhance the shadow on hover */
}

.btn-course-view:active {
  transform: scale(0.97); /* Make the button slightly smaller when clicked */
  box-shadow: none; /* Remove the shadow when the button is clicked */
}

.course-page-headings{
  display: flex;
  flex-direction: row;

}

.left-hd-cs{
}
.mid-hd-cs{
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}
.right-hd-cs{}


.main-course-section{
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-top: 50px;
}

.left-main-cs{

  flex: 0.5;
}
.mid-main-cs{
  display: flex;
  flex-direction: column;
  width: 1150px;

}
.right-main-cs{

  flex:0.55;
}

.course-card{
  position: relative;
  height: 188px;
  width: 100%;
  z-index: 2;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.534);
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transition for scale and shadow */
}

.course-card:hover{
  transform: scale(1.05);

}

.computer-science-ftr{
  position: absolute;
  height: 57px;
  width: 100%;
  bottom: 0px;
  border-radius: 0px 0px 30px 30px;
  display: flex;
  align-items: center; /* Centers content vertically */
  justify-content: center; /* Centers content horizontally */
  
}
/* .txt-121{
  font-family: roboto mono;
  font-weight: 700;
  color: white;
  font-size: 15px;
  position: absolute;
  padding: 1rem;
} */
.txt-121 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  color: white;
  font-size: 15px;
  text-align: center;
  padding: 0 10px;
}
.imgcst{
  position: absolute;
  height: 100px;
  width: 100px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);


}

.course-program-card{
  flex: 0 0 auto;
  width: 197px;
  margin-bottom: 20px;
}


.card-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.course-to-homepage-icon{
  cursor: pointer;
  margin: 1px 0px 0px 1px
}

.background-top-light{
  position: absolute;
  width: 100%;
  padding: 0;

}



@media (max-width: 860px) {


  .main-txt,.main-txt3{
    font-size: 60px;
    
  
  }

  .mid-header li {
    font-size: 12px;
  }
  .join-btn{
    width: 120px;
    height: 22px;
    font-size: 12px;
  }

  
  .explore-txt,
  .wdwd-txt{
    font-family: "roboto mono";
    color: #0b4545;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
  }

  
}



@media (max-width: 679px){

  .main-txt,.main-txt3{
    font-size: 50px;
    
  
  }

  .mid-header li {
    font-size: 11px;
  }
  .join-btn{
    width: 120px;
    height: 22px;
    font-size: 12px;
  }

  
  .explore-txt,
  .wdwd-txt{
    font-family: "roboto mono";
    color: #0b4545;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
  }
}

@media (max-width: 575px){
  .main-txt,.main-txt3{
    font-size: 40px;
    
  
  }

  .mid-header li {
    font-size: 9px;
  }
  .join-btn{
    width: 120px;
    height: 22px;
    font-size: 12px;
  }

  
  .explore-txt,
  .wdwd-txt{
    font-family: "roboto mono";
    color: #0b4545;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
  }

}