
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  font-size: 14px;
}

.app-container {
  height: 100vh;
  scroll-behavior: smooth;
}

.cs-course-page,
.AboutUsPage,
.ContactUsPage,
.sign-in-page,
.third-section,
.sign-up-page,
.first-section,
.second-section {
  min-height: 100vh; /* Allow sections to stretch beyond viewport */
  max-width: 100vw; /* Constrain width to viewport */
  position: relative;
  overflow: hidden; /* Prevent overflow */
  display: flex;
  flex-direction: column; /* Flex layout to organize content */
  scroll-behavior: smooth;


}

.coursePage{
  min-height: 100vh;
  max-width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;      /* Add this */
  overflow-x: hidden;    /* Add this */
  height: auto;  
}


/* ----------------------------------------------FIRST HOME PAGE SECTION PAGE---------------------------------------------- */
.first-section {
  display: flex;
  flex-direction: column;
  background-color: #c9c9c9;
  background-image: url("site_icons/Noise Light 220.png");
  overflow-x: hidden; /* Ensure no horizontal scrolling */
  
}

.background-icon1 {
  display: block;
  position: absolute;
  left: 0; /* Position the image to the right */
  top: 0; /* If you also want it aligned to the top */
  z-index: (-1);
  width: auto; 
  height: 100%; /* Adjust based on your needs */
}



.header-list{
  display: flex;
  flex-direction: row;

  padding: 10px 20px;
  z-index: 1;
  width: 100%;

}

.header1-img{
  width: 40px;
  height: 40px;
  cursor: pointer;
  image-rendering: auto;
}


.mid-header{
  display: flex;
  list-style: none;
  font-family: 'Roboto Mono';

  

}

.mid-header li {
  padding: 10px 20px;
  color: rgb(60, 60, 60);
  font-size: 1em;
  cursor: pointer;
  border-radius: 10px;
  transition: box-shadow 0.4s ease, background-color 0.4s ease; /* Smooth transition */
}

.mid-header li:hover {
  background-color: rgba(117, 117, 117, 0.1); /* Optional: Darken the background color slightly on hover */
  border-radius: 10px;
}

.mid-header li:active {
  transform: scale(0.97); /* Make the button slightly smaller when clicked */
}

.left-hdr{
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;

}
/* HEADER 2 ADDITIONS*/
.mid-header2{
  display: flex;
  list-style: none;
  font-family: 'Roboto Mono';

}

.mid-header2 li {
  padding: 10px 20px;
  color: rgb(60, 60, 60);
  cursor: pointer;
  border-radius: 10px;
  transition: box-shadow 0.4s ease, background-color 0.4s ease; /* Smooth transition */
}

.mid-header2 li:hover {
  background-color: rgba(0, 0, 0, 0.105);/*ptional: Darken the background color slightly on hover */
  border-radius: 10px;
}

.mid-header2 li:active {
  transform: scale(0.97); /* Make the button slightly smaller when clicked */
}


/*
.middle-hdr{
}
*/
.right-hdr{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}




.join-btn{

  font-family: Inter, sans-serif;
  font-weight: lighter;
  background-color: #2A3C95;
  font-size: 14px;
  font-weight: bolder;
  color: white;
  border: none;
  width: 157px;
  height: 42px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transition for scale and shadow */
  
}

.join-btn:hover{
  transform: scale(1.02); /* Slightly increase the size of the button */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Enhance the shadow on hover */
}

.join-btn:active {
  transform: scale(0.97); /* Make the button slightly smaller when clicked */
  box-shadow: none; /* Remove the shadow when the button is clicked */
}






.main-txt{
  font-size: 70px;
  color: #15137b;
  font-family: Inter, sans-serif;
 font-weight: 900;
 text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.explore-txt,
.wdwd-txt{
  font-family: "roboto mono";
  color: rgb(60, 60, 60);
  font-weight: 400;
  font-style: normal;
  width:690px;

}
.explore-txt{
  width:750px;
}
.wdwd-txt{
  margin-top: 20px;
}

.btn-main{
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
}

.btn1{
  font-family: Inter, sans-serif;
   background-color: #6F56FF;
   font-size: 14px;
   font-weight: bolder;
   color: white;
   border: none;
   height: 42px;
   padding: 0 35px;
   border-radius: 10px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   margin-left: 10px;
   margin-right: 10px;
   cursor: pointer;
   transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transition for scale and shadow */

}

.btn1:hover{
  transform: scale(1.02); /* Slightly increase the size of the button */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Enhance the shadow on hover */
}

.btn1:active {
  transform: scale(0.97); /* Make the button slightly smaller when clicked */
  box-shadow: none; /* Remove the shadow when the button is clicked */
}


.btn2{
  font-family: Inter, sans-serif;
   background-color: #E87700;
   font-size: 14px;
   font-weight: bolder;
   color: white;
   border: none;
   height: 42px;
   padding: 0 15px;
   border-radius: 10px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   cursor: pointer;
   transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transition for scale and shadow */
   
}

.btn2:hover{
  transform: scale(1.02); /* Slightly increase the size of the button */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Enhance the shadow on hover */
}

.btn2:active {
  transform: scale(0.97); /* Make the button slightly smaller when clicked */
  box-shadow: none; /* Remove the shadow when the button is clicked */
}



.main-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 6%;
  flex: 1;


}

.left-mc{
  flex: 1;
}

.middle-mc{
  display: flex;
  flex-direction: column;

}

.right-mc{
  flex: 1;
}


#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  height: 16vh; /* Use viewport height for responsiveness */
  max-width: 100vw;
  overflow: hidden; /* Prevent images from overflowing */

}
.footer2{
  height: 16vh; /* Use viewport height for responsiveness */
  max-width: 100vw;
  overflow: hidden;
  justify-content: space-evenly;
  display: flex;

}

.footer-images {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  position: relative;
}

.footer-image {
  position: absolute;
  height: 100%;
  width: auto;
  object-fit: contain;
  transition: transform 0.2s ease; 
  
}
.footer-image2 {
  height: 100%;

  
  
}


.footer-image:nth-child(1) { left: 0%; z-index: 1; }
.footer-image:nth-child(2) { left: 7%; z-index: 2; }
.footer-image:nth-child(3) { left: 14%; z-index: 3; }
.footer-image:nth-child(4) { left: 21%; z-index: 1; }
.footer-image:nth-child(5) { left: 28%; z-index: 2; }
.footer-image:nth-child(6) { left: 35%; z-index: 3; }
.footer-image:nth-child(7) { left: 42%; z-index: 1; }
.footer-image:nth-child(8) { left: 49%; z-index: 8; }
.footer-image:nth-child(9) { left: 56%; z-index: 9; }
.footer-image:nth-child(10) { left: 63%; z-index: 2; }
.footer-image:nth-child(11) { left: 70%; z-index: 1; }
.footer-image:nth-child(12) { left: 77%; z-index: 1; }
.footer-image:nth-child(13) { left: 84%; z-index: 1; }
.footer-image:nth-child(14) { left: 91%; z-index: 1; }


.footer-image:nth-child(1):hover, 
.footer-image:nth-child(2):hover, 
.footer-image:nth-child(3):hover, 
.footer-image:nth-child(4):hover, 
.footer-image:nth-child(5):hover, 
.footer-image:nth-child(6):hover, 
.footer-image:nth-child(7):hover, 
.footer-image:nth-child(8):hover, 
.footer-image:nth-child(9):hover,
.footer-image:nth-child(10):hover,
.footer-image:nth-child(11):hover,
.footer-image:nth-child(12):hover, 
.footer-image:nth-child(13):hover,
.footer-image:nth-child(14):hover{
 transform: scale(1.03);
}
/* 
@media (max-width: 860px) {


  .main-txt,.main-txt3{
    font-size: 50px;
    
  
  }

  .mid-header li {
    font-size: 12px;
  }
  .join-btn{
 
    height: 22px;
    font-size: 12px;
  }

  
  .explore-txt,
  .wdwd-txt{
    font-family: "roboto mono";
    color: #0b4545;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
  }

  
} */



/* @media (max-width: 679px){

  .main-txt,.main-txt3{
    font-size: 40px;
    
  
  }

  .mid-header li {
    font-size: 9px;
  }
  .join-btn{
    width: 120px;
    height: 22px;
    font-size: 12px;
  }

  
  .explore-txt,
  .wdwd-txt{

    font-size: 12px;
  }

}



@media (max-width: 575px){
  .main-txt,
  .main-txt3 {
    font-size: 10px;
  }

  .mid-header li {
    font-size: 2px; 
  }

  .join-btn {
    width: 120px;
    height: 22px;
    font-size: 10px;
  }

  .explore-txt,
  .wdwd-txt {
    font-size: 2px;
  }

} */


/* ----------------------------------------------SECOND HOME PAGE SECTION PAGE---------------------------------------------- */
.second-section {
  /* Add styles for your second section */
  background-color: #c9c9c9;
  background-image: url("site_icons/Noise Light 220.png");
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: 100%;       
  overflow: hidden; 
  
}

.bg2line{
  position: absolute;
  display: block;
  left: 0; /* Position the image to the right */
  top: 0; /* If you also want it aligned to the top */
  z-index: 0;
  width: 100%; 
  height: auto; /* Adjust based on your needs */
  

}

.top-hlf{
  display: flex;
  flex: 0 1 auto;
  padding: 20px;
  z-index: 1;
  
}
.main-txt2{
  margin-top: 10px;
  margin-left: 60px;
  font-size: 75px;
  color: #117884;
  font-family: Inter, sans-serif;
 font-weight: 900;
 text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
 animation: fade-up 0.2s;
}
.main-sect2{
  margin-top: 60px;
  display: flex;
  flex-direction: row;
}

.text-inf{
  display: flex;
  flex-direction: column;
  flex: 1;
}
.right-main2,
.left-main2{
  flex: 0.25;
}

.inf-text{
  font-family: 'Roboto Mono';
  color: #c9c9c9;
  z-index: 1;
  font-weight: 500;

}




.sect4,
.sect3,
.sect2,
.sect1{
  display: flex;
  flex: 1;
  z-index: 1;
  flex-direction: row;
  margin-bottom: 10px;

  
}

.sect1,.sect3{
  justify-content: end;
}



.iconmain2{

  justify-content: center;
  position: relative;
  align-items: center;
  display: flex;
  flex: 0.5;
}

.sect1 .icon-container, .sect3 .icon-container {
  order: 2;
  
}
.sect1 .section-content, .sect3 .section-content {
  order: 1;
}

.section-icon {
  width: 66px;  /* Adjust size as needed */
  height: 66px;
}

.section-content {
  flex: 1;
  background-color: #374d55c7;
  background-image: url("site_icons/Noise Light 220.png");
  border-radius: 20px;
  padding: 10px;


  
  
}


.right-hp2 {
  /* parent div of gears */
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;

}

.gears-container {
  width: 350px; /* Width from leftmost to rightmost gear */
  height: 350px; /* Height from topmost to bottommost gear */
}

.gear1, .gear2, .gear3 {
  position: relative;

}

.gear1 {
  left: 0px;
  top: 0px;
}

.gear2 {
  right: 20px;
  top: 85px;
}

.gear3 {
  bottom: 0px;
  left: 0px;
}
/* ----------------------------------------------THIRD HOME PAGE SECTION PAGE---------------------------------------------- */

.third-section{
  display: flex;
  flex-direction: column;
  background-color: #c9c9c9;
  background-image: url("site_icons/Noise Light 220.png");
  overflow: hidden; 
  max-width: 100%;  


}

.bg3{
  position: absolute;
  left: 0; /* Position the image to the right */
  bottom: 0; /* If you also want it aligned to the top */
  z-index: -1;
  width: 100%; 
  height: auto;
  object-fit: cover;
  
}

.header3-top-section{

  display: flex;
  flex: 1;
  z-index: 1;
  flex-direction: row;
}
.header3-top-right-section{
  display: flex;
  flex: 0.5;
  position: relative;
  justify-content: center;
  align-items: center;

}

.header3-top-left-section{
  display: flex;
  flex: 1;
  justify-content: center;
  
}

.btn-vc{
  font-family: Inter, sans-serif;
  background-color: rgb(10, 9, 32);
  font-size: 14px;
  font-weight: bolder;
  color: white;
  border: none;
  padding: 35px;
  border-radius: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transition for scale and shadow */
  align-content: center;
  
  
}
.btn-vc:hover{
  transform: scale(1.05); /* Slightly increase the size of the button */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Enhance the shadow on hover */
}

.btn-vc:active {
  transform: scale(0.95); /* Make the button slightly smaller when clicked */
  box-shadow: none; /* Remove the shadow when the button is clicked */
}



.main-txt3{
      
      font-size: 50px;
      color: rgb(71, 38, 235);
      font-family: Inter, sans-serif;
      font-weight: 900;
      text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      animation: fade-up 0.2s;
      align-self: center;
      margin-left: 15px;
    
      
}

.center-text{
  font-family: 'Roboto Mono';
  margin-top: 30px;
  margin-left: 90px;
  font-weight: 900;
}
.header3-main-section{
  display: flex;
  flex: 1;
  z-index: 1;



}




.right-main3{
  display: flex;
  flex: 1;
  flex-direction: column;
}

.left-main3{
  display: flex;
  flex: 1;
}

.rm-top{
  display: flex;
  

}

.rm-bottom{
  position: relative;
  display: flex;
  justify-content: center; /* Horizontally centers the content */
  align-items: center;
  height: 150px;

  
}
.btn3{

  font-family: Inter, sans-serif;
  font-weight: lighter;
  background-color: #000000;
  font-size: 14px;
  font-weight: bolder;
  color: rgb(255, 195, 139);
  border: none;
  width: 157px;
  height: 42px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transition for scale and shadow */
}

.btn3:hover{
  transform: scale(1.02); /* Slightly increase the size of the button */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Enhance the shadow on hover */
}

.btn3:active {
  transform: scale(0.97); /* Make the button slightly smaller when clicked */
  box-shadow: none; /* Remove the shadow when the button is clicked */
}


.footer-3 {
  display: flex;
  flex-direction: column;
  z-index: 1;
  row-gap: 8px;
  overflow: hidden;

}

.scroll-container {
  display: flex;
  width: 200vw; /* Double the width to accommodate the cloned content */
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.top-footer3,
.bottom-footer3 {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  width: 200vw; /* Double the width to accommodate the cloned content */
}

.top-footer3 {
  animation: scrollLeft 40s linear infinite;
}

.bottom-footer3 {
  animation: scrollRight 40s linear infinite;
}

.itemfoot {
  background: white;
  align-content: center;
  padding: 32px;
  font-size: 16px;
  height: 88px;
  white-space: nowrap;
  box-sizing: border-box;
  border-radius: 32px;
  font-family: Inter, sans-serif;
  font-weight: 800;
}


 .itemfoot.item1f{
  color: #543EDB;
  background-color: #7BE0CB;
  
}
.itemfoot.item2f{
  color: #E05256;
  background-color: #FFB650;

}
.itemfoot.item3f{
  color: #194F47;
  background-color: #E05256;

  
}
.itemfoot.item4f{
  color: #df870b;
  background-color: #C8E07B;
  
}
.itemfoot.item5f{
  color: #543EDB;
  background-color: #7BE0CB;
  
}
.itemfoot.item6f{
  color: #E05256;
  background-color: #FFB650;
  
}
.itemfoot.item7f{
  color: #543EDB;
  background-color: #7BE08A;
  
}
.itemfoot.item8f{
  color: #FFB650;
  background-color: #736EF7;
  
}

.itemfoot.item9f{
  color: #194F47;
  background-color: #E05256;
  
}

.bottom-llc{

  display: flex;
  flex: 0.5;
  z-index: 1;
  background:linear-gradient(180deg, #cacaca 0%, #c7feff 100%)

  
  /* background-image: url("site_icons/Noise Light 220.png"); */

}

.left-foot-1{
  color: white;
  text-decoration: none;


}

.right-foot{
  display: flex;
  flex: 1;
  position: relative;
  justify-content: center;


  
}

.left-foot{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center; 
}
.mid-foot{

  display: flex;
  flex: 1;
  position: relative;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Mono';
 

}

.mid-foot p{
  color: rgb(0, 0, 0);
}


.left-foot li {
  list-style: none;
  font-family: 'Roboto Mono';
  padding: 7px;
  color: rgb(108, 102, 102);
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
  transition: box-shadow 0.4s ease, background-color 0.4s ease; /* Smooth transition */
}
.left-foot li:hover {
  text-decoration: underline; 
}

.right-foot{  
  font-family: 'Roboto Mono';
  font-size: 13px;
  align-items: center;
  color: rgb(108, 102, 102);
}

.background-icon2{
  display: block;
  position: absolute; /* Position the image to the right */ /* If you also want it aligned to the top */
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: auto; 
  height: 100%; /* Adjust based on your needs */
  z-index: 1;
}

/* ---------------------------------------------- SIGN UP PAGE SECTION----------------------------------------------- */

.sign-up-page {
  display: flex;
  flex-direction: column;
  background-color: #aeadad;
  background-image: url("site_icons/Noise Light 220.png");
  
}

.sign-up-header{
  display: flex;
  flex-direction: row;
}

.left-sign-up-header{
flex: 1;
flex-direction: column;
z-index: 1;
}

.top-left-sign-up-header{
  flex: 1;
}

.sign-up-to-homepage-icon{
  width: 20px;
  height: auto;
  margin-top: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.sign-up-to-homepage-icon:hover{
  transform: scale(1.02);

}

.sign-up-to-homepage-icon:active {
  transform: scale(0.97); /* Make the button slightly smaller when clicked */
}

.bottom-left-sign-up-header{
  flex: 1;
  text-align: center;
}
.right-sign-up-header{
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center; /* Horizontally centers the content */
  align-items: center;
}

.sign-up-page-icon{
  z-index: 0;
  display: block;
  width: 170px;
height: auto;
}

.sign-up-header-text{
  font-size: 70px;
  color: #473755;
  font-family: Inter, sans-serif;
 font-weight: 900;
 text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

}

.main-sign-up-form{
  display: flex;
  flex-direction: row;


}

.left-main-sign-up-form{
  flex: 1;

}

.mid-main-sign-up-form{
  display: flex;
  flex-direction: row;
  align-items: center;

}

.sign-in-link-sip{

  font-family: roboto mono;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 10vh;

}


.input-field-7,
.input-field-6,
.input-field-5,
.input-field-4,
.input-field-3,
.input-field-2,
.input-field-1{
  width: 380px;
  height: 100px;
  position: relative;
  margin-bottom: 2vh;

 

  
}

.input-field-x button{
  align-items: center;
  position: absolute;
  bottom: 0;

}

.input-field-x{
  position: relative;
  display: flex;
  justify-content: center; /* Horizontally centers the content */
  align-items: center;
  width: 380px;
  height: 100px;
  margin-bottom: 20px;
}


.input-field-7 input,
.input-field-6 select,
.input-field-5 input,
.input-field-4 input,
.input-field-3 input,
.input-field-2 input,
.input-field-1 input {
  position: absolute;
  bottom: 0;
  width: 100%;
  border: none;
  border-bottom: 1.5px solid #78608f; /* Adjust color as needed */
  background-color: transparent;
  outline: none;
  padding: 5px 0;
  font-size: 20px; /* Adjust as needed */
  font-family: 'Roboto Mono';
  
}


.left-mid-main-sign-up-form{
  flex-direction: column;
  margin-right: 50px;
}

.right-mid-main-sign-up-form{
  flex-direction: column;
  margin-left: 50px;
}

.right-main-sign-up-form{
  flex: 1;
}


.register-btn-sp{
  font-family: Inter, sans-serif;
  font-weight: lighter;
  background-color: #473755;
  font-size: 14px;
  font-weight: bolder;
  color: white;
  border: none;
  width: 157px;
  height: 42px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transition for scale and shadow */
  
}

.register-btn-sp:hover{
  transform: scale(1.02); /* Slightly increase the size of the button */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Enhance the shadow on hover */
}

.register-btn-sp:active {
  transform: scale(0.97); /* Make the button slightly smaller when clicked */
  box-shadow: none; /* Remove the shadow when the button is clicked */
}

.text-img{
  position: absolute;
  right: 0;
  
  bottom: 1.4px;
  padding-left: 4px;
  padding-bottom: 8px;
  background-color: #aeadad;
  background-image: url("site_icons/Noise Light 220.png");
}

.TopPlaceHolder{
  color: #7D7D81;
  font-family: 'Roboto Mono';
  font-weight: 900;
  position: absolute;
  top: 20px;

}


/* ----------------------------------------------SIGN IN PAGE SECTION PAGE---------------------------------------------- */
.sign-in-page{
  display: flex;
  flex-direction: column;
  background-color: #aeadad;
  background-image: url("site_icons/Noise Light 220.png");
}

.sign-in-header{
  display: flex;
  flex-direction: row;
  z-index: 1;
}

.left-sign-in-header{

  flex: 1;
  flex-direction: column;
  justify-content: center; /* Horizontally centers the content */
  align-items: center;
  display: flex;
}

.right-sign-in-header{
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center; /* Horizontally centers the content */
  align-items: center;
}

.sign-in-header-text{
  font-size: 70px;
  color: #374d55;
  font-family: Inter, sans-serif;
  font-weight: 900;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
}

.sign-in-to-homepage-icon{
  width: 20px;
  height: auto;
  margin-top: 5px;
  margin-left: 5px;
  cursor: pointer;
}
.sign-in-to-homepage-icon:hover{
  transform: scale(1.02);

}

.sign-in-to-homepage-icon:active {
  transform: scale(0.97); /* Make the button slightly smaller when clicked */
}

.top-left-sign-in-header{
    flex: 1;
  }

  .bottom-left-sign-in-header{
    flex: 1;
    text-align: left;
    margin-left: 10%;
  }
.mid-main-sign-in-field{
  margin-top: 2%;
}

  .main-sign-in-fields{
    display: flex;
    flex-direction: row;
    z-index: 1;
  }

  .left-sign-in-blank{

    flex:1
  }
  .right-sign-in-blank{

    flex:1
  }

  .input-field-1s{
    width: 380px;
    height: 100px;
    position: relative;
    margin-bottom: 20px;
  }
  
  .input-field-2s{
    width: 380px;
    height: 100px;
    position: relative;
    margin-bottom: 20px;
  }
  
  .input-field-1s input,
  .input-field-2s input{
    position: absolute;
    bottom: 0;
    width: 100%;
    border: none;
    border-bottom: 1.5px solid #374d55; /* Adjust color as needed */
    background-color: transparent;
    outline: none;
    padding: 5px 0;
    font-size: 20px; /* Adjust as needed */
    font-family: 'Roboto Mono';
  }

  .sign-in-button{
    margin-top: 10%;
    font-family: Inter, sans-serif;
    font-weight: lighter;
    background-color: #374d55;
    font-size: 14px;
    font-weight: bolder;
    color: white;
    border: none;
    width: 157px;
    height: 42px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transition for scale and shadow */

  }

  .sign-in-button:hover{
    transform: scale(1.02); /* Slightly increase the size of the button */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Enhance the shadow on hover */
  }
  
  .sign-in-button:active {
    transform: scale(0.97); /* Make the button slightly smaller when clicked */
    box-shadow: none; /* Remove the shadow when the button is clicked */
  }
  
  .sign-in-page-icon{
    z-index: 0;
    display: block;
    height: 160px;
    width: auto;
  }
  .contact-us-icon{
    width: calc(12.98vw - 5.21vw);
    height: calc(21.72vh - 9.26vh);

  }
  .footer3-img{
    width: 88px;
    height: 88px;
  }
.reg-link-sip{
  font-family: roboto mono;
  margin-top: 20px;
  margin-bottom: 10vh;


}
/* ----------------------------------------------CONTACT US PAGE SECTION PAGE---------------------------------------------- */
.ContactUsPage{
  display: flex;
  flex-direction: column;
  background-color: #aeadad;
  background-image: url("site_icons/Noise Light 220.png");
}

.contact-us-header{
  display: flex;
  flex-direction: row;
  z-index: 1;
  margin-bottom: 7vh;
}

.left-contact-us-header{
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  
  
}

.right-contact-us-header{
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center; /* Horizontally centers the content */
  align-items: center;
}

.contact-us-header-text{
  font-size: 70px;
  color: #473755;
  font-family: Inter, sans-serif;
  font-weight: 900;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.top-left-contact-us-header{

}

.contact-us-to-homepage-icon{
  width: 20px;
  height: auto;
  margin-top: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.top-left-contact-us-header{
    flex: 1;
  }

.bottom-left-contact-us-header{
    flex: 1;
    text-align: left;
    margin-left: 10%;
}

.contact-us-main-section{
  display: flex;
  flex-direction: row;
  margin-bottom: 10vh;
}

.left-contact-us-main-section{
  display: flex;
  flex: 1;

}
.right-contact-us-main-section{
  display: flex;
  flex: 1;
}

.mid-contact-us-main-section{
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-bottom: 10vh;
}
.left-mid-contact-us{
  flex: 1;
  flex-direction: column;
  margin-right: 50px;
}
.right-mid-contact-us{
  flex: 1;
  flex-direction: column;
  margin-left: 50px;

}



.input-field-3cu,
.input-field-2cu,
.input-field-1cu{
  width: 380px;
  height: 100px;
  position: relative;
}

.input-field-4cu{
  width: 380px;
  height: 200px;
  position: absolute;
  margin-bottom: 20px;  
  font-size: 20px;
}

.input-field-4cu .txt-box {
  width: 100%;
  height: 120px;
  min-height: 120px;
  max-height: 180px;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 10px 10px 10px;
  font-size: 20px;
  resize: vertical;
  box-sizing: border-box;
  
}

.input-field-4cu2,
.input-field-1cu2,
.input-field-2cu2,
.input-field-3cu2{
  width: 380px;
  height: 172px;
  flex: 1;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
  display: flex;
  align-content: center;
}



.input-field-3cu input ,
.input-field-2cu input ,
.input-field-1cu input {
  position: absolute;
  bottom: 0;
  width: 100%;
  border: none;
  border-bottom: 1.5px solid #473755; 
  background-color: transparent;
  outline: none;
  padding: 6px 0;
  font-size: 20px; 
  font-family: 'Roboto Mono';
}
.input-field-4cu .txt-box {
  position: absolute;
  bottom: 0;
  height: 55px;
  min-width: 250px;
  max-width: 380px;
  font-size: 10px; 
  font-family: 'Roboto Mono';
  resize: both; /* User can resize both width and height */
  overflow: auto; /* Adds a scrollbar if needed */
  min-height: 120px;
  max-height: 140px;


}

.input-field-4cu .resize-icon {
  position: absolute;
  right: 5px;
  bottom: 5px;
  pointer-events: none;
  opacity: 0.5;
}

.input-field-4cu:hover .resize-icon {
  opacity: 1;
}


.mid-hdrcu{
  font-family: 'roboto mono';
  font-size: 30px;
  font-weight: 300;
  color: #473755;
  justify-content: center;
  position: relative;
  display: flex;

}

.cdtext{
  font-family: "roboto mono";
  color: black;
  text-align: center;
  font-size: 15px;
}

.text-img1{
  width: 60px;
  height: 60px;
  padding-bottom: 10px;
}



/* ----------------------------------------------ABOUT US PAGE SECTION PAGE---------------------------------------------- */
.AboutUsPage{
  display: flex;
  flex-direction: column;
  background-color: #aeadad;
  background-image: url("site_icons/Noise Light 220.png");
}

.about-us-header{
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
  margin-top: 10px;
  justify-content: space-evenly;
}


.about-us-header-text{
  font-size: 80px;
  color: #163760;
  font-family: Inter, sans-serif;
  font-weight: 900;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
  align-self: center;
}

.top-left-about-us-header{
    flex: 1;
  }

.bottom-left-about-us-header{
    flex: 1;
    text-align: left;
    margin-left: 5%;
}

.about-us-main-section{
  display: flex;
  flex-direction: row;
  margin-bottom: 10vh;
}

.about-us-left-main-section{

  flex: 0.5;
}
.about-us-mid-main-section{
  background-image: url("site_icons/Noise Light 220.png");
  display: flex;
  background-color: #667A92; /* Light grey background */
  border-radius: 3px; /* Rounded corners */
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  justify-content: center;
  align-items: center;
  width: 800px;
  margin: 0 auto; /* Center the div horizontally */
    
 
}

.about-us-right-main-section{

  flex: 0.5;
}

.about-us-text{
  font-family: 'Roboto Mono';
  color: #ffffff;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  text-wrap: balance;
  line-height: 1.6;
  word-wrap: break-word;
}



.headerab-img{
  width: 80px;
  height: 80px;}
/* }
@media (max-width: 800px) {
  .about-us-header-text {
    
  }

  .about-us-mid-main-section {
   width:600px
  }

  .about-us-text {
    font-size: 19.2px; /
  }

} */
/* 
@media (max-width: 600px) {
  .about-us-header-text {

    font-size: 60px;
  }

  .about-us-mid-main-section {
   width:500px
  }

  .about-us-text {
    font-size: 15.2px; 
  }
  .mid-header2 li {
    font-size: 12px;

  }
  

}

@media (max-width: 500px) {
  .about-us-header-text {
    font-size: 50px;
  }

  .about-us-mid-main-section {
   width:300px;
   height: 250px
  }

  .about-us-text {
    font-size: 10.2px; 
  }
  .mid-header2 li {
    font-size: 7px;

  }
  

} */


/* ----------------------------------------------COURSE PAGE SECTION PAGE---------------------------------------------- */

.coursePage{
  background-color: #c1baba;
  background-image: url("site_icons/Noise Light 220.png");
  display: flex;
  flex-direction: column;
  z-index: 0;
}
.course-header{
  display: flex;
  flex-direction: row;
}
.left-course-header{
  flex: 0.5;
}
.mid-course-header{
  display: flex;
  flex: 1;
  justify-content: center;
}
.right-course-header{flex: 0.5;}
.main-course-txt{
  font-size: 70px;
  color: #4C4A59;
  font-family: Inter, sans-serif;
  font-weight: 900;

  text-align: center;

}
.hdr-course-txt2{
  font-size: 40px;
  color: #4C4A59;
  font-family: roboto mono, sans-serif;
  font-weight: 50;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;

}


.btn-course-view{
  margin-top: 40px;
  font-family: roboto mono, sans-serif;
  font-weight: lighter;
  background-color: #4C4C4C;
  font-size: 14px;
  font-weight: bolder;
  color: white;
  border: none;
  width: 309px;
  height: 47px;
  border-radius: 90px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transition for scale and shadow */

}

.btn-course-view:hover{
  transform: scale(1.02); /* Slightly increase the size of the button */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Enhance the shadow on hover */
}

.btn-course-view:active {
  transform: scale(0.97); /* Make the button slightly smaller when clicked */
  box-shadow: none; /* Remove the shadow when the button is clicked */
}

.course-page-headings{
  display: flex;
  flex-direction: row;

}

.left-hd-cs{
}
.mid-hd-cs{
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}
.right-hd-cs{}


.main-course-section{
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-top: 50px;
  z-index: 0;
}

.left-main-cs{

  flex: 0.5;
}
.mid-main-cs{
  display: flex;
  flex-direction: column;
  width: 1150px;

}
.right-main-cs{

  flex:0.55;
}

.course-card{
  position: relative;
  height: 200px;
  width: 100%;
  z-index: 2;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.202);
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transition for scale and shadow */
  cursor: pointer;
}
.course-card2{
  position: relative;
  width: 197px;
  z-index: 2;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.202);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transition for scale and shadow */

}

.course-card:hover{
  transform: scale(1.02);

}
.course-card2:hover{
  transform: scale(1.02);

}
.computer-science-ftr{
  position: absolute;
  height: 57px;
  width: 100%;
  bottom: 0px;
  border-radius: 0px 0px 20px 20px;
  display: flex;
  align-items: center; /* Centers content vertically */
  justify-content: center; /* Centers content horizontally */
  
}
.computer-science-ftr2{
  position: absolute;
  height: 67px;
  width: 100%;
  border-radius: 20px 20px 20px 20px;
  display: flex;
  align-items: center; /* Centers content vertically */
  justify-content: center; /* Centers content horizontally */
  
}
/* .txt-121{
  font-family: roboto mono;
  font-weight: 700;
  color: white;
  font-size: 15px;
  position: absolute;
  padding: 1rem;
} */
.txt-121 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  color: white;
  font-size: 15px;
  text-align: center;
  padding: 0 10px;
}
.imgcst{
  position: absolute;
  height: 100px;
  width: 100px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);


}

.course-program-card{
  flex: 0 0 auto;
  width: 197px;
  margin-bottom: 20px;
}
.course-program-card2{
  flex: 0 0 1;
  margin-top: 20px;
  width: 197px;
  margin-bottom: 60px;
}



.card-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.course-to-homepage-icon{
  cursor: pointer;
  margin: 1px 0px 0px 1px
}

.background-top-light{
  position: absolute;
  width: 100%;
  padding: 0;

}


/* 
@media (max-width: 860px) {


  .main-txt,.main-txt3{
    font-size: 60px;
    
  
  }

  .mid-header li {
    font-size: 12px;
  }
  .join-btn{
    width: 120px;
    height: 22px;
    font-size: 12px;
  }

  
  .explore-txt,
  .wdwd-txt{
    font-family: "roboto mono";
    color: #0b4545;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
  }

  
}



@media (max-width: 679px){

  .main-txt,.main-txt3{
    font-size: 50px;
    
  
  }

  .mid-header li {
    font-size: 11px;
  }
  .join-btn{
    width: 100px;
    height: 22px;
    font-size: 12px;
  }

  
  .explore-txt,
  .wdwd-txt{
    font-family: "roboto mono";
    color: #0b4545;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
  }
}

@media (max-width: 575px){
  .main-txt,.main-txt3{
    font-size: 40px;
    
  
  }

  .mid-header li {
    font-size: 9px;
  }
  .join-btn{
    width: 90px;
  }

  
  .explore-txt,
  .wdwd-txt{
    font-family: "roboto mono";
    color: #0b4545;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
  }

} */


/* COURSE SPECIFIC INFORMATION PAGE */

.cs-course-page{
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  background-image: url("site_icons/Noise Light 220.png");
  overflow-x: hidden; /* Ensure no horizontal scrolling */
  z-index: 0;
}

.course-fadebg{
  width: 100%;
  height: 100%;

  position: absolute;
  z-index: calc(-1);
 
}

.course-mainbody{
  display: flex;
  margin-bottom: 20vh;

}

.mid-header3{
  display: flex;
  list-style: none;
  font-family: 'Roboto Mono';
  color: rgb(255, 255, 255);
  

}

.mid-header3 li {
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 10px;
  transition: box-shadow 0.4s ease, background-color 0.4s ease; /* Smooth transition */
}

.mid-header3 li:hover {
  background-color: rgba(117, 117, 117, 0.1); /* Optional: Darken the background color slightly on hover */
  border-radius: 10px;
}

.mid-header3 li:active {
  transform: scale(0.97); /* Make the button slightly smaller when clicked */
}

.left-course-main{flex: 1}
.mid-course-main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right-course-main{flex: 1}

.course-title{
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.cs-text{
  font-family: Inter;
  font-size: 5rem;
  font-weight: 900;
  color: white;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

}

.course-description{
  font-family: roboto mono;
  color: white;
  text-align: center;
  font-weight: 500;
}
.course-definition{
  width: 560px;
  margin-bottom: 15vh;
}

.country-flag{
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.course-stats-title{
 margin-bottom: 2vh;
 text-align: center;
}

.course-stats-text{
  font-family: roboto mono;
  font-size: 2.5rem;
  font-weight: 100;
  text-align: center;
 

}

.course-stats-info{
  display: flex;
  flex-direction: row;
  align-self: center;
}

.course-details-info{
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 100px;
  align-items: center;

}

.numbers-course-info{
  font-family: roboto mono;
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  margin-top: 6px;
  background-color: #00000053;
  padding: 1px 10px 1px 10px;
  border-radius: 20px;
}

.img-course-description{
  margin-top: 10px;
  font-family: roboto mono;
  font-size: 13px;
  text-align: center;
}

/*  course page 2  */
.cs-course-page2{
   min-height: 70vh; /* Allow sections to stretch beyond viewport */
  max-width: 100vw; /* Constrain width to viewport */
  position: relative;
  overflow: hidden; /* Prevent overflow */
  display: flex;
  flex-direction: column; /* Flex layout to organize content */
}

.cs-course-page3{
  min-height: 100vh; /* Allow sections to stretch beyond viewport */
 max-width: 100vw; /* Constrain width to viewport */
 position: relative;
 overflow: hidden; /* Prevent overflow */
 display: flex;
 flex-direction: row; /* Flex layout to organize content */
 


}

.page2-main-content{
  display: flex;
  flex: 1;
}

.left-page-2{
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #DADAFF;


}

.mid-page-2{
  flex: 1;
  flex-direction: column;



}

.right-page-2{
  flex: 1;
  flex-direction: column;

}

.ab1{
  display: flex;
  width: 100%;
  height: 40px;
  margin-bottom: 5px;
  justify-content: center;
  align-items: center;
  

}
.ab2{
  display: flex;
  width: 100%;
  height: 40px;
  font-size: 40px;
  margin-bottom: 50px;
  justify-content: center;
  
}
.ab2x{
  display: flex;
  width: 100%;
  height: 40px;
  font-size: 40px;
  margin-bottom: 10px;
  justify-content: center;
  
}
.ab3{
  display: flex;
  margin-bottom: 20px;
  margin-left: 30px;
  
}
.ab32{
  margin-bottom: 10px;
  margin-left: 30px;
  
}
.ab4{
  display: flex;
    padding: 30px;

  
}

.ab4s{
  display: flex;
    padding: 30px;
   
    

    
}

.main-text-course{
  font-family: roboto mono;
  color: #1B046C;
  list-style: none;

}
.main-text-coursex{
  font-family: roboto mono;
  color: #1B046C;
  list-style: none;
}
.main-text-coursex2{
  font-family: roboto mono;
  color: #1B046C;
  list-style: none;
}

.course-page-desc{
  font-family: roboto mono;
  font-weight: 100;
  text-align: center;
}
.course-page-desc1{
  font-family: roboto mono;
  font-weight: 100;
}

.main-text-course3{
  font-family: roboto mono;
  color: #1B046C;
}

.course-bar{
  font-weight: 900;
  color: #1B046C;
}

.course-p2-img{
  max-width: 40px;
  max-height: 40px;
}

.custom-select {
  border: none;            /* Removes the border */
  font-size: 40px;         /* Makes the text size 40px */
  height: 40px;            /* Sets the height of the field */
  background: transparent; /* Makes the background transparent */
  outline: none;           /* Removes the focus outline */
  padding-left:10px;         /* Adds some padding to the sides */
  -webkit-appearance: none; /* Removes default dropdown arrow on webkit browsers */
  -moz-appearance: none;    /* Removes default dropdown arrow on Firefox */
  appearance: none;         /* Removes default dropdown arrow for all browsers */

}

.custom-select option {
  font-size: 40px; /* Ensures the options in the dropdown have the same size */
}

.course-country{
  display: flex;
}
.course-p3-img{
  width: 15px;
}


/* salary section on course page */

.salary-course-left{
  display: flex;
  flex: 1;
  background-color: #E1E1FE;
  flex-direction: column;
}
.salary-course-right{
  display: flex;
  flex: 1;
  flex-direction: column;
}

.top-salary-course-right,
.bottom-salary-course-right{
  display: flex;
  flex: 1;
}

.top-salary-course-right{
  background-color: #EEEEFF;
}
.bottom-salary-course-right{
  background-color: #E4E4FF;
}

.ab4x{
    display: flex;
    padding: 30px;
    justify-content: center;
 
}

.main-text-coursex{
  font-family: roboto mono;
  color: #1B046C;
  cursor: default;
  padding-right: 100px;
  list-style: none;
}
.main-text-coursex2{
  font-family: roboto mono;
  color: #1B046C;
  cursor: default;
  list-style: none;
}

.main-text-coursey{
  font-family: roboto mono;
  color: white;
  padding-left: 10px;
  list-style: none;
  
}
.main-text-coursex2 li,
.main-text-coursex li,
.main-text-coursey li{
  margin: 0 0 2rem 0;
  
}
.main-text-coursex2 li{
 
  
}

.main-text-coursex li{
  background-color: #00000000;
padding: 1px 10px 1px 10px;
border-radius: 20px;
  
}
.main-text-coursey li{
  background-color: #00000053;
padding: 1px 10px 1px 10px;
border-radius: 20px;
color: #C2FFC0;
text-align: center;
  
}


.course-page-desc1{
  text-align: center;
  font-family: roboto mono;
  color: #15137b;
  font-weight: 100;

}
.course-page-desc2{
  text-align: center;
  font-family: roboto mono;
  color: #15137b;
  font-weight: 100;
  font-size: 40px;
  margin-bottom: 20px;
}


.top-salary-course-right{
  display: flex;
  flex-direction: column;
}

.bottom-salary-course-right{
  display: flex;
  flex-direction: column;
}

.course-barx li{
  list-style: none;
  font-family: roboto mono;
  color: #FFEFC0;
  padding: 10px;
  font-size: 14px;
  width: 120px;
  height: 40px;
  text-align: center;
  background-color: #1500a054;
  padding: 1px 10px 1px 10px;
  border-radius: 10px;
  margin: 0px 2px 0px 2px;

}

.course-barx li:nth-child(1) {
  color: rgba(255, 0, 0, 0);
  background-color: #00000000;
  
}


.course-barx{
  display: flex;
  justify-content: space-evenly;
}

.ab1x{
  margin-top: 10px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yrs-rate li{
  font-family: roboto mono;
  font-size: 16px;
  color:#472802;
  list-style: none;
  width: 120px;
  padding: 10px;
  text-align: center;
}

.yrs-rate2 li{
  font-family: roboto mono;
  font-size: 16px;
  list-style: none;
  width: 120px;
  padding: 10px;
  text-align: center;
}


.ab4xx{
  display: flex;
  justify-content: space-evenly;
}

.course-desc-hov{
  background-color: #2b1689;
  color: rgb(155, 249, 247);
  font-size: 13.5px;
  font-weight: 400;
  width: 240px;
  height: auto;
  position: absolute;
  border-radius: 15px;
  padding: 10px;
  bottom: 20px;
  left: 80px;
  box-shadow: 
  0px -30px 20px -10px #E1E1FE, 
  20px 0px 20px -10px #E1E1FE,  
  -20px 0px 20px -10px #dedeff; 
}

.course-desc-hov1{
  background-color: #2b1689;
  color: rgb(155, 249, 247);
  font-size: 13.5px;
  font-weight: 400;
  width: 240px;
  height: auto;
  position: absolute;
  border-radius: 15px;
  padding: 10px;
  bottom: 20px;
  left: 80px;
  box-shadow: 
  0px -30px 20px -10px #E1E1FE, 
  20px 0px 20px -10px #E1E1FE,  
  -20px 0px 20px -10px #dedeff; 
}

.course-name-desc{
  display: flex;
  flex-direction: row;
  position: relative;
}

.course-name-desc1{
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left: 90px;
}

.country-dd{
  width: 15px;
  height: auto;
  z-index: 1;
}

.custom-select1 {
  border: none;            /* Removes the border */
  font-size: 40px;         /* Makes the text size 40px */
  height: 40px;            /* Sets the height of the field */
  background: transparent; /* Makes the background transparent */
  outline: none;           /* Removes the focus outline */
  padding-left:10px;         /* Adds some padding to the sides */
  -webkit-appearance: none; /* Removes default dropdown arrow on webkit browsers */
  -moz-appearance: none;    /* Removes default dropdown arrow on Firefox */
  appearance: none;         /* Removes default dropdown arrow for all browsers */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;

}

.dropdown-menu{
  background-color: white;
  list-style: none;
  font-size: 40px;
  position: absolute;
  width: 80px;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-align: center;
}

.dropdown-item{
  border-bottom: 1px solid #e9e9e9; /* Adjust color as needed */
  width: 100%;
  transition: box-shadow 0.4s ease, background-color 0.4s ease; /* Smooth transition */
}
.dropdown-item:hover{
  background-color: rgba(117, 117, 117, 0.1); /* Optional: Darken the background color slightly on hover */
  border-radius: 10px;
}

.country-dd-icon{

  font-size: 16px; /* Adjust size to fit your design */

}

.chatbot{
  position: fixed;
  width: 475px;
  height: 362px;
  background-color: #C3CCD3;
  border-radius: 40px;
  left:10px;
  bottom:130px;
  box-shadow: 0px 6px 39px 0px rgba(0, 0, 0, 0.29);
  padding: 20px;
  font-family: roboto mono;
  font-size: 12px;
  z-index: 10;
}

.chatbot input{
  font-family: roboto mono;
  background-color: white;
  width: 439px;
  height: 33px;
  border-color: #00000000;
  border-radius: 40px;
  left: 20px;
  bottom: 20px;
  padding: 10px;
  position: absolute;
  font-size: 12px;
  text-align: left;

}

.sendai{
  position: absolute;
  right: 23px;
  bottom: 25px;
  cursor: pointer;

  padding-left: 5px;
 
}

.chatbody{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  padding-bottom: 50px;
}

.textai{
  position: relative;
  width: 100%;
  height: auto;
  font-family: roboto mono;
}

.listhdrhmp {
  background-color: white;
  border-radius: 10px;
  position: absolute;
  list-style: none;
  top: 100%;
  width: 100px;
  text-align: center;
}




.listhdrhmp li{ 
  padding: 10px;
  width: 100%;
  cursor: pointer;
  transition: box-shadow 0.4s ease, background-color 0.4s ease; /* Smooth transition */}
  
.listhdrhmp li:hover{
  background-color: rgba(117, 117, 117, 0.1); /* Optional: Darken the background color slightly on hover */
  border-radius: 10px;
}


.mediaheadersmall{
  
  position: absolute;
  background-color:#ebebeb;
  list-style: none;
  top: 5%;
  right:2%;
  border-radius: 10px;
  cursor:pointer;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-family: roboto mono;

}

.mediaheadersmall li{ 
  position: relative;
  z-index: 999;
  padding: 10px  20px 10px  20px;
  cursor: pointer;
  transition: box-shadow 0.4s ease, background-color 0.4s ease; /* Smooth transition */
  color: #616161;


}

.mediaheadersmall li:hover{
  background-color: rgba(0, 0, 0, 0.105);/*ptional: Darken the background color slightly on hover */
}

.l1{ 
  border-bottom: 0.1px solid #a4a4a4;
}

@media (width <= 1310px){
  .course-stats-info{
    flex-direction: column;
    
  }

  .img-course-description{
    font-size: 0px;
  }

  .cs-course-page3{  display: flex;
    flex: 1;
    flex-direction: column;

  }
  .course-definition{margin-bottom: 9vh;}
  .mid-course-main{
    width: 100vw;
  }
  .course-details-info img{
    
    height: auto;
  }
  .img-course-description{
    width: calc(100vw / 3);
  }

}
.imgft{
  height: 20vh;
}
@media (width <= 670px){
  .first-section{ 
    height: auto;
    min-height: 90vh;
  }

  .main-txt3{
    font-size: 38px;
    text-align: center;
  }
  .cs-text{
    font-size: 55px;
    text-align: center;
    line-height: 1;
  }
  .main-txt{
    font-size: 55px;
    margin-top: 20px;
    text-align: left;
    margin-left: 5px;
    line-height: 1;
  }
  .main-txt3{
    letter-spacing: -0.4px;
    font-weight: 900;
    text-align: left;
    padding: 5px;
    line-height: 1;
  }
  .course-definition,
  .course-description,
  .explore-txt,
.wdwd-txt{
  width:100vw;
  padding: 10px;
}
.course-definition{
  padding: 0px;
}
.explore-txt,
.wdwd-txt{
  padding: 10px;
  letter-spacing: -0.1px;
}
.btn-vc{
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.cs-course-page3,
.page2-main-content{
  display: flex;
  flex: 1;
  flex-direction: column;
}
.footer-3{
  margin-top: 20px;
  margin-bottom: 20px;
}.footer3-img{
  width: 50px;
  height: 50px;
}
.itemfoot{
  padding: 22px;

}

.course-card{
  width: 100%;
  height:160px;
}
.course-program-card2{  margin-top: 5px;}
.course-program-card{
  width: 120px;
}
.main-text-coursex{
  padding-right: 0px;
  font-size: 10px;


}
.course-page-desc,
.course-page-desc2,
.course-page-desc1
{font-size: 30px;
  margin-bottom: 5px;
line-height: 1;}

.ab2x,
.ab2{
  width: 100vw;
height: auto;
margin-bottom: 5px;
}
.ab4x{margin-top: 2px;
}

.main-text-coursey{
  padding-left: 0px;
  font-size: 10px;

}

.main-content{
  display: flex;
  flex-direction: row;
  align-items: normal;
  margin-bottom: 6%;
  flex: 0;


}
.btn-course-view{
  margin-top: 20px;
}
.computer-science-ftr2{
  height: 57px;
}
.main-course-txt{
  font-size: 60px;
}

.card-row{
  gap: 10px;
}
.course-title{
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.footer2{
  height: 20vh;
}
.header3-main-section{
  flex: 0.3;
}
.btn-main{
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}
.about-us-text {
  font-size: 17px;
}
.about-us-header-text{
  font-size: 56px;
  line-height: 1;
margin-left: 5px;
}
.about-us-header img{

}
.sign-up-page-icon,
.sign-in-page-icon{
  height:106px;
  z-index: 0;
}
.bottom-left-sign-in-header{

}
.sign-up-header-text{
  font-size: 47px;
  text-align: left;
}
.sign-in-header-text{
  font-size: 39px;
  text-align: left;
}
.contact-us-header-text{
  font-size: 39px;
  text-align: left;
}
.contact-us-icon{
  height:106px;
  z-index: 0;
  width:auto;
  
}
.sign-in-header{margin-top: 10px;}
.contact-us-header,
.right-sign-in-header {
  flex: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-in-header,.sign-up-header{z-index: 0;}
.sign-up-header-text{
  padding-left: 15px;
}
.right-sign-up-header,
.right-sign-up-header{
  flex: 0.5;
}

.mid-main-sign-up-form{
  flex-direction: column;
}
.left-mid-main-sign-up-form{
  margin-right: 15px;
}
.input-field-7 input, .input-field-6 select, .input-field-5 input, .input-field-4 input, .input-field-3 input, .input-field-2 input, .input-field-1 input{
  font-size: 15px;
}

.input-field-7, .input-field-6, .input-field-5, .input-field-4, .input-field-3, .input-field-2, .input-field-1{
  width: 365px;
  height: 85px;
  position: relative;
  margin-bottom: 0vh;
  
}
.input-field-x{
  height: 84px;
  margin-bottom: 0px;

}
.imgcst{
  top: 34%;
  height: 88px;
}

.background-top-light{
  height: 200px;

}
.btn1{
  background-color: #2f2254;
}
.btn2{
  background-color: #15137b;
}
.coursePage .background-top-light{
  z-index: -1;
}

  }

  @media (min-width: 1670px) {
    html, body {
      font-size: 16px;
    }
    .main-txt{
      font-size: 80px;
    }
  
    .main-txt3{
        
      font-size: 60px;
  
  }
  }