<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>FYP server</title>
  </head>
  <body>
    <%= locals.text || "default" %>
  </body>
</html>
